 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgb(213, 225, 239) ;
    min-height: 100vh;
}
.qr-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 20rem;
    border-radius:0.9375rem;
}
.qr-container img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    padding:5%;
}
.qr-text{
    font-size:0.9375rem;
    display: flex;
    flex-direction: column;
    font-family: Outfit,sans-serif;  
    text-align: center;
    margin:0rem 1.5rem 2rem 1.5rem;
}
.qr-text h1{
    color: black;
    font-size:1.3125rem;
    font-weight: 700;
}
.qr-text p{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    margin-top:.5rem;
}


